.cust-center{
    text-align: left;
}
.cust-logo{
    float: left; 
    margin: -65px 15px 15px 0px;
}

.custNav {
    background-image: linear-gradient(to left, var(--glass), var(--bold) );
    padding: .5em;
    margin: .25em;
}

.cust-button{
    background-color: var(--glaucous);
    font-family: Galindo, cursive;
    border-radius: 10px;
}

.cust-button:hover {
    background-color: var(--bold)
}

.float-up{
    margin-top: -1em;
}

@media only screen and (max-width : 992px) { 
  .float-up{
    margin-top: -.5em;
   }
}