.cust-center{
    text-align: left;
}
.cust-logo{
    float: left; 
    margin: -65px 15px 15px 0px;
}

.custNav {
    background-image: linear-gradient(to left, var(--glass), var(--bold) );
    padding: .5em;
    margin: .25em;
}

.cust-button{
    background-color: var(--highlight);
    font-family: Galindo, cursive;
    margin: -25px 0 0 0;
    border-radius: 10px;
}

.cust-link:hover {
    background-color: var(--mildlight)
}
 
@media only screen and (max-width : 992px) { 
  .cust-up-margin{
    margin-top: -.5em;
   }
}