.cust-center{
    text-align: left;
}
.cust-logo{
    float: left; 
    margin: -65px 15px 15px 0px;
}

.custNav {
    background-image: linear-gradient(to left, var(--glass), var(--bold) );
    color: var(--glaucous);
    padding: .5em;
}

.cust-link{
    background-color: var(--highlight);
    border-radius: 20px;
    font-family: Galindo, cursive;
    margin: -5px 0 0 0;
}

 
@media only screen and (max-width : 992px) { 
  .cust-up-margin{
    margin-top: -.5em;
   }
}