.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .page-title{
    color: var(--light);
    background-image: linear-gradient(120deg, var(--shadow), var(--neutral));
    border-radius: 80px;
    padding: .5em;
  }
  
  .header-name{
    color: var(--bold);
    font-style: oblique;
  }

  .cosmos{
    background-image: url("../../images/cosmos.png");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: -.05em;
    padding-top: .5em;
    padding-bottom: 25em;
    text-align: center;
  }

  .cosmos h3 {
    color: var(--mildlight);
  }
  