.cust-center{
    text-align: left;
}
.cust-logo{
    float: left; 
    margin: -70px 15px 15px 0px;
}

.flip-banner-red {
    background-image: linear-gradient(to left, var(--bold-transparancy), var(--bold) );
    color: var(--netural);
    border-radius: 12px;
    padding: .5em;
}

.btn-cust{
    background-color: var(--highlight);
    border-radius: 20px;
}

.cust-up-margin{
    margin-top: -2em;
}
 
@media only screen and (max-width : 992px) { 
  .cust-up-margin{
    margin-top: -.5em;
   }
}