.live-website{
    padding-top: .75em;
    max-width: 4em;
    animation: blink 2s ease-in-out infinite;
}
  
.live-website-text{
    vertical-align: baseline; 
}

@keyframes blink {
    from, to {opacity: 1}
    66% {opacity: 0.66}
    33% {opacity: 0.33} 
}