:root {
  --highlight:#44ffee;
  --mildlight: #79def7;
  --highlight-neutral: #afa2ff;
  --glaucous: #7a89c2;
  --bold: #EC0B43;
  --bold-transparancy: #ee75939d;
  --bold-contrast: #58355E;
  --bold-contrast-tranparancy: #8e6d94a2;
  --light: #dafae1;
  --neutral: #acc7c6;
  --dark: #0e0e2c;
  --shadow: #5858589a;
  --dark-shadow: #00000054;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cust-background{
  background-color: var(--light);
  background-image: url("./images/subtle-prism.svg");
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
