:root {
  --highlight:#44ffee;
  --mildlight: #79def7;
  --highlight-neutral: #afa2ff;
  --glaucous: #7a89c2;
  --bold: #EC0B43;
  --bold-transparancy: #ee75939d;
  --bold-contrast: #58355E;
  --bold-contrast-tranparancy: #8e6d94a2;
  --light: #dafae1;
  --neutral: #acc7c6;
  --dark: #0e0e2c;
  --shadow: #5858589a;
  --dark-shadow: #00000054;
  --glass: #e3eef036;
}

body > #root > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner-purple {
  background-image: linear-gradient(120deg, var(--glass), var(--bold-contrast) );
  color: var(--light);
  border-radius: 15px;
  text-align: end;
  padding: 0.75em;
}

.banner-green {
  background-image: linear-gradient(120deg, var(--highlight), var(--mildlight) );
  color: var(--dark);
  border-radius: 15px;
  text-align: start;
  padding: 0.5em;
}

.banner-red {
  background-image: linear-gradient(to top right, var(--bold-transparancy), var(--glass) );
  box-shadow: inset 0px 0px 8px var(--netural), 0 0 15px var(--dark);
  color: var(--netural);
  border-radius: 12px;
  padding: .5em;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.shadowed {
  background-color: var(--shadow);
  padding: 2em;
  margin: 1em;
}